.HolyGrail-nav {
  padding-top: 5%;
  padding-left: 10%;
  order: -1;
  color: #004700;
  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(165,188,152,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(165,188,152,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(165,188,152,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#a5bc98',GradientType=0 ); /* IE6-9 */
  a:visited {
    color: #004700;
  }
  a {
    color: #004700;
  }
  ul.menu {
    position: relative;
    p.hamburgerMenu {
      font-size: 3.4em;
      margin-top: 10px;
      margin-bottom: 15px;
      position: relative;
      padding-left: 1.25em;
      color: #004700;
    }
    p.hamburgerMenu:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 1em;
      height: 0.15em;
      background: #004700;
      box-shadow:
              0 0.25em 0 0 #004700,
              0 0.5em 0 0 #004700;
    }
    li {
      line-height: 2.5em;
      font-size: 2.2em;
    }
    li.show {
      display: block;
    }
    li.hide {
      display: none;
    }
    .tooltipText {
      position: absolute;
      top: 110%;
      display: block;
      background-color: darkgreen;
      color: white;
      border: solid black 1px;
      z-index: 1;
    }
  }
}

@media (min-width: 1024px) {

  .HolyGrail-nav {
    /* 12em is the width of the columns */
    border-right: 1px solid white;
    flex: 0 0 12em;
    padding-top: 2%;
    padding-left: 3%;
    ul.menu {
      p.hamburgerMenu {
        display: none;
      }
      li {
        line-height: 1.6em;
        font-size: 1.0em;
      }
      li.hide {
        display: block; // klasa 'hide' chowa menu w przypadku małych ekranów, w przypadku dużych ekranów menu jest cały czas widoczne
      }
    }
  }
}